<div class="pt-8 mb-4 text-2xl font-bold text-slate-700">Cambiar Contraseña</div>

<form [formGroup]="passwordForm" (ngSubmit)="saveUser()" class="flex flex-col p-8 space-y-4 bg-white border rounded-lg">

  <div class="flex flex-col">
    <mat-label class="mb-1 font-medium text-slate-500">Contraseña</mat-label>
    <mat-form-field subscriptSizing="dynamic">
      <input matInput type="password" id="password" name="password" formControlName="password" #passwordField />
      <button mat-icon-button type="button" (click)="
                    passwordField.type === 'password'
                        ? (passwordField.type = 'text')
                        : (passwordField.type = 'password')
                " matSuffix>
        <mat-icon *ngIf="passwordField.type === 'password'" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
        <mat-icon *ngIf="passwordField.type === 'text'" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
      </button>
      <mat-error *ngIf="passwordForm.get('password').hasError('minlength')">
        Mínimo 6 caracteres
      </mat-error>
      <mat-error *ngFor="let err of errors['password']">
        {{ err }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="flex flex-col">
    <mat-label class="mb-1 font-medium text-slate-500">Repetir Contraseña</mat-label>
    <mat-form-field subscriptSizing="dynamic">
      <input matInput type="password" id="confirm_password" name="confirm_password" formControlName="confirm_password"
        #passwordField2 />
      <button mat-icon-button type="button" (click)="
                    passwordField2.type === 'password'
                        ? (passwordField2.type = 'text')
                        : (passwordField2.type = 'password')
                " matSuffix>
        <mat-icon *ngIf="passwordField2.type === 'password'" [svgIcon]="'heroicons_solid:eye'"></mat-icon>
        <mat-icon *ngIf="passwordField2.type === 'text'" [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
      </button>
      <mat-error *ngIf="passwordForm.get('confirm_password').hasError('minlength')">
        Mínimo 6 caracteres
      </mat-error>
    </mat-form-field>
    <mat-error *ngIf="error">
      {{ error }}
    </mat-error>
  </div>

  <div class="flex justify-end">
    <button mat-flat-button color="primary" type="submit" [disabled]="!passwordForm.valid">
      <mat-icon [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
      <span>Guardar</span>
    </button>
  </div>

</form>
